body {
    display: flex;
    justify-content: center;
}
chessboard- {
    display: grid;
    grid-template-columns: repeat(8, 95px);
    grid-template-rows: repeat(8, 95px);
}
.light-square {
    background-color: #eee;
}
.dark-square {
    background-color: #999;
}
.tile {
    height: 95px;
    width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.piece {
    user-select: none;
    cursor: grab;
    height: 80px;
    width: 80px;
    background-size: 80px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.piece.grabbing {
    cursor: grabbing;
}
.red {
    animation: blink-animation 0.7s steps(5, start) infinite;
    -webkit-animation: blink-animation 0.7s steps(5, start) infinite;
}
@keyframes blink-animation {
    0% {
        background-image: linear-gradient(90deg, #00000000,  #00000000);
    }
    50% {
        background-image: linear-gradient(90deg,  #ff0000aa, #ff0000aa);
    }
    100% {
        background-image: linear-gradient(90deg, #00000000,  #00000000);
    }
}
    @-webkit-keyframes blink-animation {
    0% {
        background-image: linear-gradient(90deg, #00000000,  #00000000);
    }
    50% {
        background-image: linear-gradient(90deg,  #ff0000aa, #ff0000aa);
    }
    100% {
        background-image: linear-gradient(90deg, #00000000,  #00000000);
    }
}   
pawn-.w { background-image: url('/img/wp-s.png'); }
pawn-.b { background-image: url('/img/bp-s.png'); }
rook-.w { background-image: url('/img/wr-s.png'); }
rook-.b { background-image: url('/img/br-s.png'); }
knight-.w { background-image: url('/img/wn-s.png'); }
knight-.b { background-image: url('/img/bn-s.png'); }
bishop-.w { background-image: url('/img/wb-s.png'); }
bishop-.b { background-image: url('/img/bb-s.png'); }
queen-.w { background-image: url('/img/wq-s.png'); }
queen-.b { background-image: url('/img/bq-s.png'); }
king-.w { background-image: url('/img/wk-s.png'); }
king-.b { background-image: url('/img/bk-s.png'); }

.wrapper {
    position: relative;
}

.button {
    padding: 10px 20px;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
}